.login-div{
    background-image: url(../../../../assets/eco-login.jpg);
    background-repeat: no-repeat;
    background-position-x: 15%;
    background-size: cover;
    padding-bottom: 2%;
    padding-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


img{
    height: 10rem;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form span{
    font-size: 125%;
    margin-top: 2%;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    
}

label{
    margin-bottom: 2%;
    font-weight: bold;
    margin-left: -50%;
}

#placeholderRecover{
    margin-bottom: 12%;
}


input{
    margin-bottom: 5%;
    border-radius: 16px;
    outline: none;
    border: none;
    padding: 14px 16px;
    width: 200%;
    caret-color:#24501F;
    margin-left: -50%;
    color: #1c6d13;
}

input:focus{
    outline: none;
}

input::placeholder{
    color: #24501F;
    font-weight: 400;
}

a{
    font-weight: bold;
    color: #24501F;
    cursor: pointer;
}

#signup{
    margin-top: 2%;
}

.btn{
    background-image: linear-gradient(to right, #1B6D5F, #4F9847);
    color: #FFFFFF;
    border-radius: 32px;
    border: none;
    font-weight: bold;
    padding: 14px 16px;

  
    width: 25%;
    font-size: 98%;
    cursor: pointer;
}

.btn:hover{
    transition: ease-in 1s;
    box-shadow: 15px 15px 25px #1d1f1d15;
    height: 3rem;
}