<section>
    <div class="side-by-side">
        <aside class="pfp-page">
            <img src="../../../../assets/profile-pic.png" alt="Foto de perfil"/>
        </aside>

        <aside class="contacts">
            <div class="user-info">
                <h2>{{usuario.nome ?? 'User'}}</h2>
                <ul>
                    <li><i class="fa-solid fa-location-dot"></i><b>Localização: </b>{{usuario.cidade ?? 'Cidade'}} - {{usuario.uf ?? 'SP'}}</li>
                    <li><i class="fa-solid fa-envelope"></i><b>E-mail: </b>{{usuario.email ?? 'email@email.com'}}</li>
                    <li><i class="fa-solid fa-phone"></i><b>Telefone: </b>{{usuario.telefone ?? '000000000000'}}</li>
                </ul>
            </div>
            <div class="btns">
                <button [routerLink]="['/editinfo']" class= "btn" id = "edit-info">Editar informações</button>
                <button class="btn mobile-only">Sair</button>
            </div>
        </aside>
    </div>

    <aside class="shortcut-aside">
        <div class="shortcuts" id="inventory">
            <h3 [routerLink] = "['/inventory']">Inventário <b>()</b><i class="fa-solid fa-circle-arrow-right"></i></h3>
            <span>Veja todos os itens que você cadastrou para trocas</span>
        </div>
        <div class="shortcuts" id="swap-log">
            <h3 [routerLink]="['/history']">Histórico de trocas<i class="fa-solid fa-circle-arrow-right"></i></h3>
            <span>Veja informações sobre trocas antigas</span>
        </div>
    </aside>

    
</section>