<section class="body">

    <section>
        <h2>Edição de produtos</h2>
        
    </section>

    <section class=" form form-new">
        <span>Edite o nome ou descrição do seu produto</span>
        <form>
            <label>Qual é o nome do seu produto?</label>
            <input type="text" id="productName" placeholder="Nome do produto">
            <label>Dê uma descrição para o seu produto</label>
            <input  type="text" id="productDesc" placeholder="Descrição do produto">

            
        </form>
        <button class="btn">Concluir</button>
        
    </section>
</section>