<section class="body">

    <section>
        <h2>Edição de produtos</h2>
        
    </section>

    <section class=" form form-new">
        <span>Edite o nome ou descrição do seu produto</span>
        <form (ngSubmit) = "submit()" [formGroup]="editProduct" #formDir="ngForm">
            <label>Qual é o nome do seu produto?</label>
            <input type="text" id="productName" placeholder="Nome do produto" formControlName="nomeproduto" required>
            <div *ngIf="nome.invalid && formDir.submitted">
                <p *ngIf="nome.errors?.['required']">O nome é obrigatório</p>
            </div>
            <label>Dê uma descrição para o seu produto</label>
            <input  type="text" id="productDesc" placeholder="Descrição do produto">
            <button class="btn">Concluir</button>
            
        </form>

        
    </section>
</section>