
 <section>
    <div class="login-div">
        <img src="../../../../assets/logo_header.png" alt="logo" loading="lazy">
    </div>
</section>
<section class="body">
    <section>
        <h2>Cadastre-se</h2>
    </section>

    <section class="form form-step1"  *ngIf="passo == 0">
        <span><b>Passo 1 -</b> Conte mais sobre você</span>
        <form>
            <label>Qual será seu nome?</label>
            <input type="text" [formControl]="nome" placeholder="Nome de usuário">
            <label>Qual é a sua data de nascimento?</label>
            <input type="date" [formControl]="dataNasc" placeholder="Data de nascimento">
            <label>Qual é o seu e-mail?</label>
            <input type="text" [formControl]="email" placeholder="E-mail de acesso">
            <label>Qual é o seu telefone?</label>
            <input type="text" [formControl]="telefone" placeholder="Telefone para contato">
        </form>
        <button class="btn" (click)="proximoPasso()">Próximo</button>
        <div class="step-progress">
            <i class="fa-solid fa-circle"></i>
            <i class="fa-regular fa-circle"></i>
            <i class="fa-regular fa-circle"></i>
        </div>
    </section>
    <section class="form form-step2" *ngIf="passo == 1">
        <span><b>Passo 2 - </b>Seu endereço para entregas</span>
        <form>
            <div class="side-labels">
                <label id="ceplabel">Qual é o seu CEP?</label>
                <label id="uflabel">Qual é a UF?</label>
            </div>
            <div class="side">
                
                <input type="number" [formControl]="cep" placeholder="CEP residencial">
                
                <select type="date" [formControl]="UF">
                    <option value="AC">AC</option>
                    <option value="AL">AL</option>
                    <option value="AP">AP</option>
                    <option value="AM">AM</option>
                    <option value="BA">BA</option>
                    <option value="CE">CE</option>
                    <option value="DF">DF</option>
                    <option value="ES">ES</option>
                    <option value="GO">GO</option>
                    <option value="MA">MA</option>
                    <option value="MT">MT</option>
                    <option value="MS">MS</option>
                    <option value="MG">MG</option>
                    <option value="PA">PA</option>
                    <option value="PB">PB</option>
                    <option value="PI">PI</option>
                    <option value="RJ">RJ</option>
                    <option value="RN">RN</option>
                    <option value="RS">RS</option>
                    <option value="RO">RO</option>
                    <option value="RR">RR</option>
                    <option value="SC">SC</option>
                    <option value="SP">SP</option>
                    <option value="SE">SE</option>
                    <option value="TO">TO</option>
                </select>
            </div>
            <label>Qual é a cidade?</label>
            <input type="text" [formControl]="cidade" placeholder="Cidade de residência">
            <label>Qual é o seu endereço?</label>
            <input type="text" [formControl]="rua" placeholder="Informe sua rua/avenida/rodovia">
            <label>Qual é o número da residência?</label>
            <input type="number" [formControl]="numero_rua" placeholder="Informe o número residencial">
            <label>Precisa adicionar um complemento?</label>
            <input type="text" [formControl]="complemento" placeholder="Informe o complemento residencial">
        </form>
        <button class="btn" (click)="proximoPasso()">Próximo</button>
        <div class="step-progress">
            <i class="fa-regular fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
            <i class="fa-regular fa-circle"></i>
        </div>
    </section>
    <section class="form form-step3" *ngIf="passo >= 2">
        <span><b>Passo 3 -</b> Defina sua senha</span>
        <p>Requisitos de senha</p>

        <form>
            <label>Qual será sua senha?</label>
            <input type="password" [formControl]="senha" placeholder="Senha de acesso">
            <label>Confirme sua senha</label>
            <input type="password" [formControl]="senhaConfirmar" placeholder="Insira a mesma senha">
          
        </form>
        <button class="btn" (click)="proximoPasso()">Concluir</button>
        <div class="step-progress">
            <i class="fa-regular fa-circle"></i>
            <i class="fa-regular fa-circle"></i>
            <i class="fa-solid fa-circle"></i>
        </div>
    </section>
</section>
