<section class="body">
    <aside id="yourProd" class="prod-display">
        <h2>Seu produto</h2>
        <img src="../../../../assets/placeholder-prod.jpg" alt="Imagem do seu produto"/>
        <select id="myProducts">
            <option value="placeholder">Placeholder</option>
            <option value="placeholder">Placeholder</option>
            <option value="placeholder">Placeholder</option>
        </select>
    </aside>

    <aside id="otherProd" class="prod-display">
        <h2>Produto de User</h2>
        <img src="../../../../assets/placeholder-prod.jpg" alt="Imagem do seu produto"/>
        <h3>Nome: Produto</h3>
        <span id="userLocation"><i class="fa-solid fa-location-dot"></i>Uberaba - MG</span>

    </aside>
    
</section>
<section class="align-btn">
    <button class="btn">Fazer proposta</button>
</section>
