<section class="body">
    <aside id="yourProd" class="prod-display">
        <h2>Seu produto</h2>
        <img [src]="produtoSelecionado.imagem" alt="Imagem do seu produto"/>
        <select id="myProducts" (change)="selecionarProduto($event)">
            <option *ngFor="let produto of produtos; index as i" [value]="i">{{produto.nome}}</option>
        </select>
    </aside>

    <aside id="otherProd" class="prod-display">
        <h2>Produto de {{produtoDesejado.usuario.nome}}</h2>
        <img [src]="produtoDesejado.imagem" alt="Imagem do seu produto" draggable="false"/>
        <h3>Nome: {{produtoDesejado.nome}}</h3>
        <div class="desired-info">
            <span id="userLocation"><i class="fa-solid fa-location-dot"></i>{{produtoDesejado.usuario.cidade}} - {{produtoDesejado.usuario.uf}}</span>
            <span id="userEmail"><i class="fa-solid fa-envelope"></i>{{produtoDesejado.usuario.email}}</span>
            <span id="userTel"><i class="fa-solid fa-phone"></i>{{produtoDesejado.usuario.telefone}}</span>
        </div>
    </aside>
    
</section>
<section class="align-btn">
    <button class="btn" (click)="fazerProposta()">Fazer proposta</button>
</section>
