<div class="product-card">
    <div class="img-prod" id="prodImg">
        <img src="../../../../assets/placeholder-prod.jpg" alt="Imagem de produto">
    </div>
    <p id="prodName" >Produto</p>
    <span id="userName">User</span>
    <div class="user-evaluation" id="userEvaluation">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
    </div>
</div>
