<div class="product-card">
    <div class="img-prod" id="prodImg">
        <img src="../../../../assets/placeholder-prod.jpg" alt="Imagem de produto">
    </div>
    <p id="prodName" >{{this.produto.nome}}</p>
    <span id="userName">{{this.produto.usuario.nome}}</span>
    <div class="user-evaluation" id="userEvaluation">
        <div *ngFor="let item of counter(5); index as i">
            <i class="fa-star" [ngClass]="i < rating ?  'fa-solid' : 'fa-regular'"></i>
        </div>
    </div>
</div>
