<section class="container-sec">
    <section class="header-section">
        <h2>Histórico de trocas</h2>
        <span>Confira suas solicitações de troca e trocas bem-sucedidas.</span>
    </section>
    <div>
        <h3>Troca com User</h3>
        <app-cards></app-cards>
        <i class="fa-solid fa-rotate"></i>
        <app-cards></app-cards>
    </div>
    <div>
        <h3>Troca com User</h3>
        <app-cards></app-cards>
        <i class="fa-solid fa-rotate"></i>
        <app-cards></app-cards>
    </div>
    <div>
        <h3>Troca com User</h3>
        <app-cards></app-cards>
        <i class="fa-solid fa-rotate"></i>
        <app-cards></app-cards>
    </div>
</section>
