<section class="body">
    <section class="header-section">
        <div class="title-button">
            <h2>Seu inventário</h2>
            <button [routerLink]="['/newproduct']" class="btn">Cadastrar novo produto</button>
        </div>
        <span>Navegue por seus produtos disponíveis no EcoSwap.</span>
    </section>
    <section class="container-sec">
        <aside class="inventory-grid">
            <img *ngFor="let produto of produtos" [src]="produto.imagem" alt="Imagem de produto" (click)="selecionarProduto(produto)">
        </aside>
        <aside class="prod-details" *ngIf="produtos.length > 0 && produtoSelecionado != null">
            <img [src]="produtoSelecionado.imagem" alt="Imagem de produto"/>
            <div class="info">
            <h3>{{produtoSelecionado.nome}}<i class="fa-regular fa-pen-to-square" [routerLink]="['/editproduct', produtoSelecionado.id]"></i><i class="fa-solid fa-trash"></i></h3>
            <div class="category">{{produtoSelecionado.categoria.nome}}</div>
            <h3>Descrição:</h3>
            <span>{{produtoSelecionado.descricao}}</span>
        </div>
        </aside>
    </section>
</section>
