<section class="body">
    <section class="header-section">
        <div class="title-button">
            <h2>Seu inventário</h2>
            <button [routerLink]="['/newproduct']">Cadastrar novo produto</button>
        </div>
        <span>Navegue por seus produtos disponíveis no EcoSwap.</span>
    </section>
    <section class="container-sec">
        <aside class="inventory-grid">
            <img src="../../../../assets/placeholder-prod.jpg" alt="Imagem de produto"/>
            <img src="../../../../assets/placeholder-prod.jpg" alt="Imagem de produto"/>
            <img src="../../../../assets/placeholder-prod.jpg" alt="Imagem de produto"/>
            <img src="../../../../assets/placeholder-prod.jpg" alt="Imagem de produto"/>
            <img src="../../../../assets/placeholder-prod.jpg" alt="Imagem de produto"/>
            <img src="../../../../assets/placeholder-prod.jpg" alt="Imagem de produto"/>
            <img src="../../../../assets/placeholder-prod.jpg" alt="Imagem de produto"/>
            <img src="../../../../assets/placeholder-prod.jpg" alt="Imagem de produto"/>
            <img src="../../../../assets/placeholder-prod.jpg" alt="Imagem de produto"/>
            <img src="../../../../assets/placeholder-prod.jpg" alt="Imagem de produto"/>
            <img src="../../../../assets/placeholder-prod.jpg" alt="Imagem de produto"/>
            <img src="../../../../assets/placeholder-prod.jpg" alt="Imagem de produto"/>
        </aside>
        <aside class="prod-details">
            <img src="../../../../assets/placeholder-prod.jpg" alt="Imagem de produto"/>
            <h3>Produto<i class="fa-regular fa-pen-to-square"></i></h3>
            <div class="category">Mídia</div>
            <h3>Descrição:</h3>
            <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </aside>
    </section>
</section>
