<script src="../../Behavior/fileupload.js"></script>

<section class="body">

    <section>
        <h2>Cadastro de produtos</h2>
        
    </section>

    <section class=" form form-new">
        <span>Cadastre um novo produto para trocar no catálogo EcoSwap!</span>
        <form >
            <label>Qual é o nome do seu produto?</label>
            <input type="text" [formControl]="nomeForm" placeholder="Nome do produto" >
           

            <label>Dê uma descrição para o seu produto</label>
            <input  type="text" [formControl]="descricaoForm" placeholder="Descrição do produto">
            <label>Em qual categoria seu produto se encaixa?</label>
            <select [formControl]="categoriaForm" [value]="'midia'">
                <option value="1">Mídia</option>
                <option value="2">Colecionáveis</option>
                <option value="3">Jardinagem</option>
                <option value="4">Livros e HQs</option>
                <option value="5">Informática</option>
            </select>
            <label> Que tal mostrar uma foto do produto?</label>
            <div class="side">
                <div class="img-input" (click)="imagemForm.click()">
                    <label for="img1">
                        <i class="fa-solid fa-camera"></i>
                        <input type="file" name="imagem" accept="image/*" id="#imagemForm" #imagemForm (change)="imagemToBase64($event)">
                    </label>
                </div>
            </div>
            <button class="btn" (click)="salvarProduto()">Concluir</button>
        </form>
       
        
    </section>
</section>