.form span{
    font-size: 115%;
    margin-top: 2%;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 2%;

}

select{
    color: #1c6d13;
    padding: 14px 16px;
    width: 45%;
    margin-bottom: 1.5%;
    background-color: #FFFFFF;
    border-radius: 16px;
    outline: none;
    border: none;
}

.body{
    margin-left: 5%;
    margin-top: 2%;
 
}

input[type="text"]{
    margin-bottom: 1.5%;
    border-radius: 16px;
    outline: none;
    border: none;
    padding: 14px 16px;
    width: 95%;
    caret-color:#24501F;
    color: #1c6d13;
}

input[type="text"]:focus{
    outline: none;
}

input[type="text"]::placeholder{
    color: #24501F;
    font-weight: 400;
}

input[type="file"]{
    visibility:hidden;
    height: 1px;
    width: 1px;
}

h2{
    color:#24501F;
}

.img-input label{
    color:#24501F;
    font-size:255%;
    cursor: pointer;
}

.img-input{
    border: solid 1px #24501F;
    border-radius: 16px;
    padding-top: 5%;
    margin-right: 2%;
    width: 15% ;
    padding-bottom: 5%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 2%;
}

.btn{
    background-image: linear-gradient(to right, #1B6D5F, #4F9847);
    color: #FFFFFF;
    border-radius: 32px;
    border: none;
    font-weight: bold;
    padding: 14px 16px;
    width: 25%;
    font-size: 98%;
    cursor: pointer;
    margin-left: 36%;
    margin-bottom: 5%;
}

.btn:hover{
    transition: ease-in 1s;
    box-shadow: 15px 15px 25px #1d1f1d15;
    
}

.img-input label:hover{
    transition: all ease 1s;
    color:#4a9c41;
}

.side{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.required-err{
    color:#ff0000;
    margin-top: -1%;
    margin-bottom: 2%;
    font-size: 85%;
}