<section>
    <h2>Cadastro de produtos</h2>
    
</section>

<section class="form-edit">
    <form>
        <label>Qual é o nome do seu produto?</label>
        <input type="text" id="productName" placeholder="Nome do produto">
        <label>Dê uma descrição para o seu produto</label>
        <input type="text" id="productDesc" placeholder="Descrição do produto">
        <select id="productCat">
            <option value="midia">Mídia</option>
            <option value="colecionaveis">Colecionáveis</option>
            <option value="jardinagem">Jardinagem</option>
            <option value="informática">Mídia</option>
        </select>
    </form>
</section>