img{
    height: 12rem;
    min-height: 8rem;
    width: 12rem ;
    min-width: 8rem;
    border-radius: 16px;
    border: 2px solid #24501F;
    pointer-events: none;
}

.img-prod{
    height: 12rem;
    min-height: 8rem;
    width: 12rem ;
    min-width: 8rem;
    margin:6%;
}

.product-card{
    border: 2px solid #24501F;
    margin-top: 1.5%;
    width: 114%;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    margin-bottom: 2%;
    overflow-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
}

i{
    color:#24501F;
}

p{
    font-weight: bold;
    font-size: 125%;
}

span, p{
    margin-left: 6%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 15%;
}

.user-evaluation{
    display: flex;
    flex-direction: row;
    margin-left: 6%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.fa-star {
    cursor: pointer;
}

