<section>
    <h2>Edite suas informações</h2>
</section>

<section class="form-edit">
    <form>
        <label>Qual é o telefone?</label>
        <input type="text" id="userPhone" placeholder="Telefone para contato">
        <label>Qual é o seu CEP?</label>
        <input type="text" id="userCEP" placeholder="CEP residencial">
        <label>Qual é a UF?</label>
        <select id="userUF">
            <option value="AC">AC</option>
            <option value="AL">AL</option>
            <option value="AP">AP</option>
            <option value="AM">AM</option>
            <option value="BA">BA</option>
            <option value="CE">CE</option>
            <option value="DF">DF</option>
            <option value="ES">ES</option>
            <option value="GO">GO</option>
            <option value="MA">MA</option>
            <option value="MT">MT</option>
            <option value="MS">MS</option>
            <option value="MG">MG</option>
            <option value="PA">PA</option>
            <option value="PB">PB</option>
            <option value="PI">PI</option>
            <option value="RJ">RJ</option>
            <option value="RN">RN</option>
            <option value="RS">RS</option>
            <option value="RO">RO</option>
            <option value="RR">RR</option>
            <option value="SC">SC</option>
            <option value="SP">SP</option>
            <option value="SE">SE</option>
            <option value="TO">TO</option>
        </select>
        <label>Qual é a cidade?</label>
        <input type="text" id="userCity" placeholder="Cidade de residência">
        <label>Qual é o seu endereço?</label>
        <input type="text" id="userAddress" placeholder="Informe sua rua/avenida/rodovia">
        <label>Qual é o número da residência?</label>
        <input type="text" id="userAddressNum" placeholder="Informe o número residencial">
        <label>Precisa adicionar um complemento?</label>
        <input type="text" id="userExtraInfo" placeholder="Informe o complemento residencial">
        <button id="nextBtn">Próximo</button>
    </form>
</section>



