<!--Banner - logo and search bar-->
<section class = "container">
    <div class="banner">
        <aside id="logo">
            <img src="../../../assets/logo_header.png" alt="Logo" draggable="false">
        </aside>
        <aside class="topbar">
            <form action="#">
                <input type="text" name="search-bar" id="searchs" placeholder="Pesquise por algum produto">
            </form>
            <div class="search-icon">
                <i class="fa-solid fa-search"></i>
            </div>
            
        </aside>
        <aside class="mobile-nav">
            <a href="" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
        </aside>
    </div>
</section>