<header>
    <app-banner [routerLink]="['/main']"></app-banner>
    
    <app-navbar [notificacoes]="notificacoes" (novoPfpMenuEstadoEvent)="changeMenuPfpMenuState($event)" (novoNotifEvent)="changeNotifState($event)"></app-navbar>
    
</header>

<div class="navigation-pfp" id="navPfp" *ngIf="menuAberto" >
    <ul >
        <li [routerLink]= "['/profile']"><i class="fa-solid fa-user"></i>Meu perfil</li>
        <li [routerLink]= "['/inventory']"><i class="fa-solid fa-boxes-stacked"></i>Inventário</li>
        <li (click)="deslogar()"><i class="fa-solid fa-door-open"></i>Sair</li>
    </ul>
</div>

<div class="notif-nav" id="navnotif" *ngIf="notifNav">
    <ul class="notiflist" style="min-height: 5vh">
        <li class="notif" *ngFor="let notificacao of notificacoes">{{notificacao.usuario.nome}} enviou um pedido de troca</li>
        
    </ul>
</div>

