<header>
    <app-banner></app-banner>
    
    <app-navbar (novoPfpMenuEstadoEvent)="changeMenuPfpMenuState($event)" (novoNotifEvent)="changeNotifState($event)"></app-navbar>
    
</header>

<div class="navigation-pfp" id="navPfp" *ngIf="menuAberto" >
    <ul >
        <li [routerLink]= "['/profile']"><i class="fa-solid fa-user"></i>Meu perfil</li>
        <li><i class="fa-solid fa-door-open"></i>Sair</li>
    </ul>
</div>

<div class="notif-nav" id="navnotif" *ngIf="notifNav">
    <ul class="notiflist">
        <li class="notif">Usuario 1 enviou um pedido de troca</li>
        <li class="notif">Usuario 1 enviou um pedido de troca</li>
        <li class="notif">Usuario 1 aceitou um pedido de troca</li>
        <li class="notif">Usuario 1 recusou um pedido de troca</li>
        <li class="notif">Usuario 256 enviou um pedido de troca</li>
    </ul>
</div>

