<nav>
    <ul class="navbarlist">
        <li><a href="#">Início</a></li>
        <li><a href="#">Mídia</a></li>
        <li><a href="#">Colecionáveis</a></li>
        <li><a href="#">Jardinagem</a></li>
        <li><a href="#">Informática</a></li>
        <div class="only-mobile">
            <li><a href="#">Meu perfil</a></li>
        </div>
    </ul>
    
    <ul class="profilelist">
            <li class="notif-icon"><i class="fa-solid fa-bell"></i></li>
            <div>
                <li class="pfnav"><img src="../../../assets/profile-pic.png"></li>
            </div>
            
    </ul>
       
</nav>
